*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

p.title-form{
    color: var(--text);
    padding-top: 25px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.5rem;
    text-align: center;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 5px;
    box-shadow: #e8f0fe75 1px 0px 20px;
}

form label{
    color: var(--text);
    margin-top: 25px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.2rem;
}

.input-form{
    font-family: 'Josefin Sans', sans-serif;
    width: 30%;
    height: 30px;
    font-size: 1rem;
    border-radius: 10px 0px;
}

button[type="submit"]{
    margin: 25px;
    width: 10%;
    height: 30px;
    border-radius: 10px 0px;
    font-size: 1rem;
    color: var(--text);
    font-family: 'Josefin Sans', sans-serif;
    background-color: #E8F0FE;
    cursor: pointer;
    transition: .3s;
}

button[type="submit"]:hover{
    transition: .3s;
    background-color: #c9dbfa;
    color: var(--text-menu-hover);
}