:root{
    --background-btn:#aa0030;
    --background-btn-hover:#8b0028;
}

.titleForm{
    color: #000;
    font-size: 1.2rem;
}

.modal{
    position: fixed;
    padding: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.377);
    transform: scale(1.1);
    opacity: 0;
    visibility: hidden;
    transition: visibility 0.1s ease-in-out, transform 0.1s ease-in-out, opacity 0.1s ease-in-out;
}

.modal-content{
    background-color:#ff8c8c;
    padding:16px 24px;
    width: 400px;
    border-radius: 25px;
}

span.modalClose{
    float: right;
    width: 24px;
    cursor: pointer;
    background-color: #000000;
    border-radius: 25%;
    text-align: center;
    line-height: 24px;
    transition: .2s;
}

span.modal:hover{
    transition: .2s;
    background-color: darkgray;
}

.show-modal{
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
}

.modal label{
    font-family: 'Tilt Neon', cursive;
    color: #000000;
    margin-top: 1vh;
}

input[type="text"],input[type="number"]{
    font-family: 'Tilt Neon', cursive;
    border-radius: 5px;
    height: 30px;
    width: 250px;
    border: 1px solid black
}

textarea{
    font-family: 'Tilt Neon', cursive;
}

label.input-file{
    padding: 10px 5px;
    width: 50%;
    background-color: var(--background-btn);
    color: #000;
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
    display: block;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5rem;
    transition: .2s;
}

label.input-file:hover{
    transition: .2s;
    background-color: var(--background-btn-hover);
}

input[type="file"] {
    display: none;
}

button.sendData{
    font-family: 'Inconsolata', monospace;
    margin-top: 2rem;
    width: 5rem;
    height: 2rem;
    border-radius: 5rem;
    background-color: var(--background-btn);
    cursor: pointer;
    transition: .2s;
}

button.sendData:hover{
    transition: .2s;
    color: #000000;
    filter: brightness(0.7); 
}

/*formulario modal*/
.form-order{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.titleForm{
    font-family: 'Tilt Neon', cursive;
    font-size: 2rem;
    
}